<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.bahary.Gagron">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".WelcomeSliderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home1Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".NavItemsActivities.AboutUsActivity" />
        <activity android:name=".categoryItemsActivties" />
        <activity android:name=".ItemDescriptionActivity" />
        <activity android:name=".MainCategoryActivity" />
        <activity android:name=".NavItemsActivities.MyAccountActivity" />
        <activity android:name=".Dialoge.OldOrderDetailsDialoge" />
        <activity android:name=".NavItemsActivities.NotificationActivity" />
        <activity android:name=".NavItemsActivities.ServiceAreaActivity" />
        <activity android:name=".NavItemsActivities.AdressBook" />
        <activity android:name=".NavItemsActivities.MyOrderActivity" />
        <activity android:name=".NavItemsActivities.ShoppingCartActivity" />
        <activity android:name=".SubCatrgriesActivity"></activity>
    </application>

</manifest>